<div class="project-info-container">
  <div
    class="project-image-container"
    (mouseenter)="onImageHover(true, $event)"
    (mouseleave)="onImageHover(false, $event)"
    (mousemove)="onCursorMove($event)"
    (click)="onImageClick()"
  >
    <img
      class="project-image"
      src="/assets/images/projects/{{ project().image }}.png"
      alt=""
      [appScrollReveal]="400"
    />

    <div
      class="view-cursor text-primary"
      [class.is-visible]="isHoveringImage()"
      [style.--cursor-x.px]="cursorX"
      [style.--cursor-y.px]="cursorY"
    >
      View
    </div>
  </div>
</div>
