@import "styles/styles";

.hero-container {
  background-color: $bg-dark;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .icon-layer {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icon {
      position: absolute;
      transform: translateY(var(--scroll-offset, 0px));
      will-change: transform;
      transition-duration: 0.2s;

      img {
        display: block;
        height: 150px;
        width: fit-content;
        opacity: 0.85;
        filter: blur(0px);
        animation: floatBounce 7s ease-in-out infinite;
        animation-fill-mode: backwards;
      }
      &:hover {
        filter: blur(0px);
        transform: scale(1.2);
      }
    }

    .icon-gaming {
      top: 12%;
      left: 12%;
      img {
        animation-delay: 0s;
      }
    }

    .icon-sushi {
      top: 18%;
      right: 12%;
      img {
        animation-delay: 1s;
      }
    }

    .icon-pom {
      bottom: 15%;
      left: 20%;
      img {
        animation-delay: 2s;
      }
    }

    .icon-popcorn {
      bottom: 10%;
      right: 10%;
      img {
        animation-delay: 3s;
      }
    }

    .icon-music {
      top: 45%;
      left: 4%;
      img {
        animation-delay: 4s;
      }
    }

    .icon-jogging {
      top: 50%;
      right: 5%;
      img {
        animation-delay: 5s;
      }
    }
  }

  .text-container {
    color: $bg-light;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    .name {
      @include font-size("2xl");
    }

    .description {
      @include font-size("4xl");

      .role {
        padding: $spacing-xxs;
        color: $text-secondary-light;
        border-radius: $corner-rounded;
        background-color: rgba($bg-purple, 0.15);
      }
    }
  }

  .scroll-text {
    display: flex;
    gap: $spacing-md;
    color: $text-primary-light;
    @include font-size("base");
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    .arrow {
      animation: floatBounce 4s linear infinite;
      animation-fill-mode: backwards;
    }
  }
}

@keyframes floatBounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.7;
    filter: blur(6px);
  }
  25% {
    transform: translateY(-14px);
    opacity: 0.85;
  }
  50% {
    transform: translateY(0);
    opacity: 0.85;
    filter: blur(0px);
  }
  75% {
    transform: translateY(10px);
    opacity: 0.7;
  }
}
