<div class="hero-container">
  <div class="icon-layer" #iconLayer>
    <div class="icon icon-gaming" data-speed="0.9">
      <img src="/assets/images/icons/gaming.png" alt="gaming" />
    </div>
    <div class="icon icon-sushi" data-speed="0.75">
      <img src="/assets/images/icons/sushi.png" alt="sushi" />
    </div>
    <div class="icon icon-pom" data-speed="0.45">
      <img src="/assets/images/icons/pom.png" alt="pomodoro" />
    </div>
    <div class="icon icon-popcorn" data-speed="0.4">
      <img src="/assets/images/icons/popcorn.png" alt="popcorn" />
    </div>
    <div class="icon icon-music" data-speed="0.5">
      <img src="/assets/images/icons/music.png" alt="music" />
    </div>
    <div class="icon icon-jogging" data-speed="0.6">
      <img src="/assets/images/icons/jogging.png" alt="jogging" />
    </div>
  </div>

  <div class="text-container">
    <div class="text-primary name">Hi, I'm Reinhard 👋</div>
    <div class="text-secondary description">
      a <span class="text-primary role">Frontend developer</span> leaning
      towards full-stack
    </div>
  </div>

  <div class="text-primary scroll-text">
    View work
    <div class="arrow">↓</div>
  </div>
</div>
