@import "styles/styles";

.hero-container {
  @include flex-layout(column, center, center);
  background-color: $bg-dark;
  height: 100dvh;
  position: relative;
  overflow: hidden;

  .icon-layer {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    .icon {
      position: absolute;
      transform: translateY(var(--scroll-offset, 0px));
      will-change: transform;
      transition:
        transform 0.2s ease,
        opacity 0.2s ease,
        filter 0.2s ease;

      img {
        display: block;
        height: $hero-icon-size;
        width: fit-content;
        filter: blur(1px) brightness(0.6);
        // animation: floatBounce 7s ease-in-out infinite;
        animation-fill-mode: backwards;

        transition:
          opacity 0.2s ease,
          filter 0.2s ease;
      }
    }

    &:has(.icon:hover) {
      .icon {
        img {
          filter: blur(6px) brightness(0.6);
          transform: translateY(0);
          // animation-play-state: paused;
        }
      }

      .icon:hover {
        img {
          opacity: 1;
          filter: blur(0px);
        }
      }
    }

    .icon-gaming {
      top: 18%;
      left: 25%;

      img {
        animation-delay: 0s;
      }
    }

    .icon-sushi {
      top: 18%;
      right: 25%;

      img {
        animation-delay: 1s;
      }
    }

    .icon-pom {
      bottom: 15%;
      left: 25%;

      img {
        animation-delay: 2s;
      }
    }

    .icon-popcorn {
      bottom: 15%;
      right: 25%;

      img {
        animation-delay: 3s;
      }
    }

    .icon-music {
      top: 45%;
      left: 5%;

      img {
        animation-delay: 4s;
      }
    }

    .icon-jogging {
      top: 45%;
      right: 5%;

      img {
        animation-delay: 5s;
      }
    }
  }

  .text-container {
    @include layout-spacing(gap, "lg");
    @include flex-layout(column);
    color: $bg-light;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 20%;

    .name {
      @include font-size("2xl");
    }

    .description {
      @include font-size("4xl");

      .role {
        @include layout-spacing(padding, "2xs");
        color: $text-secondary-light;
        border-radius: $corner-rounded;
        background-color: rgba($bg-purple, 0.15);
      }
    }
  }

  .scroll-text {
    @include font-size("base");
    @include layout-spacing(gap, "md");
    @include flex-layout;
    color: $text-primary-light;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    .arrow {
      animation: floatBounce 4s linear infinite;
      animation-fill-mode: backwards;
    }
  }
}

@keyframes floatBounce {
  0%,
  100% {
    transform: translateY(0);
    filter: blur(3px);
  }
  25% {
    transform: translateY(-14px);
  }
  50% {
    transform: translateY(0);
    filter: blur(0px);
  }
  75% {
    transform: translateY(10px);
  }
}
