<div class="hero-container">
  <div class="icon-layer" #iconLayer>
    <div
      class="icon icon-gaming"
      data-speed="0.9"
      (mouseenter)="setCaption('... that loves gaming')"
      (mouseleave)="clearCaption()"
      [appScrollReveal]="800"
    >
      <img src="/assets/images/icons/gaming.png" alt="gaming" />
    </div>
    <div
      class="icon icon-sushi"
      data-speed="0.75"
      (mouseenter)="setCaption('... that loves good food')"
      (mouseleave)="clearCaption()"
      [appScrollReveal]="800"
    >
      <img src="/assets/images/icons/sushi.png" alt="sushi" />
    </div>
    <div
      class="icon icon-pom"
      data-speed="0.45"
      (mouseenter)="setCaption('... that loves dogs')"
      (mouseleave)="clearCaption()"
      [appScrollReveal]="1600"
    >
      <img src="/assets/images/icons/pom.png" alt="pomeranian" />
    </div>
    <div
      class="icon icon-popcorn"
      data-speed="0.4"
      (mouseenter)="setCaption('... that loves movies')"
      (mouseleave)="clearCaption()"
      [appScrollReveal]="1600"
    >
      <img src="/assets/images/icons/popcorn.png" alt="popcorn" />
    </div>
    <div
      class="icon icon-music"
      data-speed="0.5"
      (mouseenter)="setCaption('... that always has music playing')"
      (mouseleave)="clearCaption()"
      [appScrollReveal]="1200"
    >
      <img src="/assets/images/icons/music.png" alt="music" />
    </div>
    <div
      class="icon icon-jogging"
      data-speed="0.6"
      (mouseenter)="setCaption('... that enjoys a good run')"
      (mouseleave)="clearCaption()"
      [appScrollReveal]="1200"
    >
      <img src="/assets/images/icons/jogging.png" alt="jogging" />
    </div>

    <div class="icon text-container" data-speed="0.15">
      <div class="text-primary name" [appScrollReveal]="100">
        Hi, I'm Reinhard 👋
      </div>
      <div class="text-secondary description" [appScrollReveal]="400">
        a <span class="text-primary role">Software Developer</span> crafting
        full-stack applications with a focus on UI/UX
      </div>
      <div class="text-secondary hover-caption" [class.visible]="hoverCaption">
        <span
          *ngFor="let char of hoverCaptionChars; let i = index"
          class="hover-caption-char"
          [style.animation-delay.ms]="i * 30"
          >{{ char === " " ? "\u00A0" : char }}</span
        >
      </div>
    </div>
  </div>

  <div class="text-primary scroll-text">
    View work
    <div class="arrow">↓</div>
  </div>
</div>
