// _mixins.scss
@mixin font-size($level) {
  @if map-has-key($font-sizes, $level) {
    font-size: map-get($font-sizes, $level);
  } @else {
    @warn "Unknown `#{$level}` in $font-sizes.";
  }
}

@mixin layout-spacing($property, $level) {
  @if map-has-key($spacing, $level) {
    #{$property}: map-get($spacing, $level);
  } @else {
    @warn "Unknown `#{$level}` in $spacing.";
  }
}

@mixin flex-layout($direction: row, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;

  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

@mixin grid-layout(
  $columns: null,
  $rows: null,
  $gap: null,
  $justify: null,
  $align: null
) {
  display: grid;

  @if $columns {
    grid-template-columns: $columns;
  }
  @if $rows {
    grid-template-rows: $rows;
  }
  @if $gap {
    gap: $gap;
  }
  @if $justify {
    justify-items: $justify;
  }
  @if $align {
    align-items: $align;
  }
}
