// Colours
$forest-green: #0b1411;
$cream: #f0e9db;
$lilac: #9b91ff;
$lilac-dark: #5d52c3;

// Text colour-variables
$text-primary-light: $cream;
$text-primary-dark: $forest-green;
$text-secondary-light: $lilac;
$text-secondary-dark: $lilac-dark;

// background colours
$bg-dark: $forest-green;
$bg-light: $cream;
$bg-purple: $lilac;

// Spacing
$number-4: 4px;
$number-8: 8px;
$number-12: 12px;
$number-16: 16px;
$number-20: 20px;
$number-24: 24px;
$number-28: 28px;
$number-50: 50px;

$spacing-xxs: $number-4;
$spacing-xs: $number-8;
$spacing-sm: $number-12;
$spacing-md: $number-16;
$spacing-lg: $number-20;
$spacing-xl: $number-24;

$corner-semi-rounded: $number-4;
$corner-rounded: $number-8;
$corner-fully-rounded: $number-50;

// fonts
$font-sizes: (
  "xs": 0.75rem,
  // 12px
  "sm": 0.875rem,
  // 14px
  "base": 1rem,
  // 16px
  "lg": 1.125rem,
  // 18px
  "xl": 1.25rem,
  // 20px
  "2xl": 1.5rem,
  // 24px
  "3xl": 1.875rem,
  // 30px
  "4xl": 2.25rem,
  // 36px
  "5xl": 3rem,
);

$font-family-primary: "Plus Jakarta Sans", sans-serif;
$font-family-secondary: "Libre Baskerville", serif;
