@import "styles/styles";

.navbar-container {
  @include layout-spacing(left, "md");
  @include layout-spacing(margin-top, "md");
  @include flex-layout(row, center, center);
  @include layout-spacing(padding-inline, "xs");
  @include font-size("sm");
  border-radius: $corner-fully-rounded;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 90;
  width: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba($bg-light, 0.6);
  color: $text-primary-dark;
  border: 1px solid rgba($border-light, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;

  &.darkmode {
    background: rgba($bg-dark, 0.5);
    color: $text-primary-light;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .navbar-item {
    @include layout-spacing(padding, "sm");
    opacity: 0.5;

    &.active {
      opacity: 1;
      font-weight: 600;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
