<div class="section-container">
  <div class="projects-container">
    <div class="section-header-container" [appScrollReveal]="0">
      <div class="text-primary heading">
        Selected work
        <div class="year-range-text">(2023 - 2026)</div>
      </div>
      <div class="text-secondary title">
        Some of the products that I've helped bring to life
      </div>
    </div>
    <div class="projects">
      <div class="projects__col" appParallax="up">
        @for (
          project of projects | slice: 0 : 2;
          track project.id;
          let i = $index
        ) {
          <app-project-info [project]="project" [appScrollReveal]="i * 100" />
        }
      </div>

      <div class="projects__col" appParallax="down">
        @for (
          project of projects | slice: 2 : 4;
          track project.id;
          let i = $index
        ) {
          <app-project-info
            [project]="project"
            [appScrollReveal]="(i + 2) * 100"
          />
        }
      </div>
    </div>
  </div>
</div>
