@import "styles/styles";

.section-container {
  @include flex-layout(column, center, center);
  min-height: 100vh;
  background-color: $bg-light;
  position: relative;
  overflow: hidden;

  .blob-layer {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);

    .blob {
      width: $hero-icon-size;
      height: $hero-icon-size;
      padding: 100px;
      border-radius: 100%;
      background-color: $bg-purple;
      opacity: 0.3;
      position: absolute;
      transform: translateY(var(--scroll-offset, 0px));
      will-change: transform;
      background: linear-gradient(
        rgba($light-green, 0.2),
        rgba($bg-purple, 0.2)
      );
    }

    .blob-gaming {
      top: 18%;
      left: 25%;
    }

    .blob-sushi {
      top: 18%;
      right: 25%;
    }

    .blob-pom {
      bottom: 15%;
      left: 25%;
    }

    .blob-popcorn {
      bottom: 15%;
      right: 25%;
    }

    .blob-music {
      top: 45%;
      left: 5%;
    }

    .blob-jogging {
      top: 45%;
      right: 5%;
    }
  }

  .projects-container {
    @include flex-layout(column, null, center);
    @include layout-spacing(gap, "6xl");
    color: $text-primary-light;
    position: relative;
    z-index: 1;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 200px 0px;
    background-color: rgba($bg-light, 0.1);
    backdrop-filter: blur(15px);

    .projects {
      @include flex-layout(column);
      gap: 100px;
      width: 40%;
      min-width: 600px;
      .section-header-container {
        @include layout-spacing(padding, "3xl");
        @include layout-spacing(gap, "md");
        @include flex-layout(column);
        color: $text-primary-dark;

        .heading {
          @include font-size("5xl");
          @include layout-spacing(gap, "sm");
          @include flex-layout(row, null, flex-end);
          color: $text-secondary-dark;
          font-weight: 500;

          .year-range-text {
            @include font-size("base");
            color: $text-primary-dark;
          }
        }

        .title {
          @include font-size("xl");
        }
      }
    }
  }
}
