<div class="section-container">
  <div class="blob-layer" #blobLayer>
    <div class="blob blob-gaming" data-speed="0.9"></div>
    <div class="blob blob-sushi" data-speed="0.75"></div>
    <div class="blob blob-pom" data-speed="0.45"></div>
    <div class="blob blob-popcorn" data-speed="0.4"></div>
    <div class="blob blob-music" data-speed="0.5"></div>
    <div class="blob blob-jogging" data-speed="0.6"></div>
  </div>

  <div class="projects-container">
    <div class="projects">
      <div class="section-header-container" [appScrollReveal]="0">
        <div class="text-primary heading">
          Selected work
          <div class="year-range-text">2023 - 2026</div>
        </div>
        <div class="text-secondary title">
          From Fintech to Govtech, here are a few of the products I've helped
          bring to life
        </div>
      </div>
      @for (project of projects; track project.id; let i = $index) {
        <app-project-info [project]="project" [appScrollReveal]="i * 100" />
      }
    </div>
  </div>
</div>
