body {
  font-family: $font-family-primary;
  font-size: map-get($font-sizes, "base");
  word-spacing: 1px;
}

.text-primary {
  font-family: $font-family-primary;
}

.text-secondary {
  font-family: $font-family-secondary;
}
